.container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.cv-page, .form-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 48%;
    padding: 0 16px 0 16px;
}