.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.cv-page,
.form-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 8px);
    padding: 0 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section {
    padding-top: 10%;
}

.form-section > h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.cv-page {
    width: 210mm;
    height: 297mm;
    margin: 20mm auto;
    margin-top: 16px;
    padding: 20mm;
}

.cv-page h2 {
    margin-top: 1.5em;
}

.cv-page>div {
    margin-bottom: 2em;
    height: 250px;
}

#about-button, #education-button, #work-button {
        display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 24px;
            height: 44px;
            cursor: pointer;
            transition: background-color 0.3s ease;
}

#about-button:hover, #education-button:hover, #work-button:hover {
    background-color: #0056b3;
}