.education {
    margin-bottom: 20px;
}

.education h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.education p {
    margin: 5px 0;
    font-size: 16px;
}

.education p:last-child {
    margin-bottom: 0;
}